.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

Form Button {
  width: 100%;
}

h2 {
  color: #313131;
}

h6 {
  color: greenyellow;
}

hr.line {
  border: 1px solid #313131;
  width: 175px;
}

.app {
  margin: auto;
  padding-top: 40px;
  width: 950px;
  text-align: center;
}

.lobby {
  width: 400px;
  margin: auto;
}

.chat {
  display: grid;
}

.leave-room {
  text-align: right;
  margin-bottom: 4px;
}

.user-list {
  float: left;
  background-color: #313131;
  color: white;
  width: 200px;
  height: 440px;
  margin-right: 4px;
}

.message-container {
  height: 400px;
  background-color: black;
  overflow: auto;
  border-radius: 5px;
  margin-bottom: 2px;
}

.user-message {
  text-align: right;
  padding-right: 5px;
  font-size: 18px;
}

.message {
  display: inline-flex;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
  margin-top: 3px;
}

.from-user {
  font-size: small;
  margin-bottom: 3px;
  margin-right: 5px;
}
