.channel__row {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  height: 600px;
  scrollbar-width: 4px;
}

.channel__col {
  display: flex;
  flex-direction: column;
}

.active {
  background: black;
}
